# py -m pip install requests
# py -m pip list
# py -m pip install requests==2.31.0
# py -m pip install -U requests
# py -m pip uninstall requests

# py -m venv .venv
# source .venv/Scripts/activate (Works only in bash)
# deactivate
# py -m pip install -U pip
# py -m pip install requests
# py -m pip show requests
# py -m pip install python-dotenv

# pypi.org

# py -m pip freeze > requirements.txt

.venv
.env